@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  color: #4b383f;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

p {
  font-weight: 300;
}

input,
textarea,
button,
select {
  border: none;
  outline: none;
}

/* Custom checkbox */
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #af9f8f;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #af9f8f;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  top: 0;
  left: 4px;
  transform: rotate(45deg);
}

input[type="radio"] {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
input[type="radio"]:checked::after {
  top: 1.5px;
  left: 5px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle (scrollbar itself) */
::-webkit-scrollbar-thumb {
  background-color: #af9f8f;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4b383f;
  cursor: pointer;
}

/* For Firefox */
.scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: #af9f8f #f1f1f1;
}

/* For Internet Explorer and Edge */
.scrollbar-style {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
