@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  background-color: #ebebeb;
  color: #4b383f;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
  object-fit: cover;
}

p {
  line-height: 1.5 !important;
}

nav a hr {
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out;
}

nav ul a:hover,
nav ul a.active {
  color: #af9f8f;
}

nav a.active hr {
  opacity: 1 !important;
}

.swiper h1 {
  font-family: serif;
}

/* Custom Swiper Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #af9f8f;

  &::after {
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

/* Custom Swiper Pagination Bullets */
.swiper-pagination-bullet {
  background-color: #af9f8f;
}
.swiper-pagination-bullet-active {
  background-color: #af9f8f;
}

/* Custom checkbox */
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #af9f8f;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #af9f8f;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  top: 1px;
  left: 4px;
  transform: rotate(45deg);
}

input[type="radio"] {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
input[type="radio"]:checked::after {
  top: 1.5px;
  left: 5px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle (scrollbar itself) */
::-webkit-scrollbar-thumb {
  background-color: #af9f8f;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4b383f;
}

/* For Firefox */
.scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: #af9f8f #f1f1f1;
}

/* For Internet Explorer and Edge */
.scrollbar-style {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
